<div class="header">
  <h1>Etienne Wortham</h1>
  <h1>Front-end Developer</h1>

  <p>Hey there, I started coding in the summer of 2021 and fell in love with it! I love making appealing things that people use.</p>
</div>
<div class="row1-container">
  <div class="box box-down cyan">
    <h2>trainEQ</h2>
    <p>Emotion detection app for online meetings!</p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
  </div>

  <div class="box red">
    <h2>Nomads</h2>
    <p>Marketplace app popup shops that links space owners with space renters</p>
    <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
  </div>

  <div class="box box-down blue">
    <h2>Movie Watch List</h2>
    <p>List app that tracks different movie lists for a user</p>
    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
  </div>
</div>
<div class="row2-container">
  <div class="box orange">
    <h2>OnlyFans, ButtBetter</h2>
    <p>Title says it all</p>
    <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
  </div>
</div>
<footer>
  <p class="attribution">
    Coded by <a href="#">Etienne Wortham</a>.
    Say hi to me <a href="https://www.linkedin.com/in/etiennewortham" target="_blank">here</a>.
  </p>
</footer>

<%# <div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col">
      <h1>Etienne</h1>
      <p>I do things.</p>
    </div>
  </div>
</div> %>
